:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #232021;
  background-color: #fefefe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


.title {
  text-align: center;
  margin-top: 6rem;
}

.hero {
  min-height: 100vh;
  width: 100%;

}

.traduttore-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 4px;
}

.input-tr, .risultato-box {
  width: 50%;
}

.risultato {
  margin-top: 1rem;
  background-color: #f5f5f5;
  border-radius: 4px;
  min-height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.risultato p {
  max-width: 100%;
  word-break: break-all;
}

.input-tr h2 {
  margin-top: 0;
}

.input-tr {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
}

.input-tr input {
  width: 90%;
  height: 80px;
  border: none;
  text-align: center;
}

.bottom-foot {
  position: relative;
  height: 50vh;
  text-align: center;
}

.bottom-foot .label {
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 100%;
}

.container {
  text-align: center;
  padding: 2rem auto;
}

.form-paypal {
  margin-top: 1rem;
}

h2,
h3 {
  text-align: center;
}

textarea {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.selettore-lingua {
  margin-bottom: 1rem;
}

@media screen and (max-width:595px) {
  .traduttore-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .input-tr,.risultato-box, .risultato {
    width: 100%;
    max-width: 595px;
  }
  p {
    word-break: break-all;
  }
}